/*****************************************************/
/* Helpers */
/*****************************************************/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-center {
  display: flex;
  align-items: center;
}
.h-center {
  display: flex;
  justify-content: center;
}
.team-l-clr {
  color: $team-left;
}
.team-r-clr {
  color: $team-right;
}

/*===== Margins and paddings =====*/
.mt-20 {
  margin-top: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}
