.positions {

  /* ************************************
   * Right sidebar
   * ************************************/
  --sidebar-right-width: 350px;

  .tab-block {
    padding: 15px;
    border-bottom: 1px solid darken($nav-bgr, 20%);

    h4 {
      text-transform: uppercase;
    }
  }

}

